.archive-container {
  display: flex;
  justify-content: center;

  padding: 20px 0;
}

.mobile-size {
  padding: 5px 20px;
  margin: 0 auto;
  min-width: 360px;
  max-width: 599px;
}

.tablet-size {
  padding: 10px 30px;
  margin: 0 auto;
  min-width: 768px;
}

.laptop-size {
  padding: 15px 40px;
  margin: 0 auto;
  max-width: 1240px;
}
