.input-filter {
  width: 100%;
}

// .mat-mdc-form-field {
//   display: flex;
//   justify-content: center;
// }

// placeholder="Ex. Tom, 06754321098, FF 123456..."
//     title="Enter one of the following categories to find your client: ID, name, passport, mobile number, or email."

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //   background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
