.nav-bar {
  background-color: var(--blue-cl);
}

.nav-bar__container {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}

.nav-bar__list {
  display: flex;
  align-items: center;

  gap: 30px;
}

.nav-bar__item {
  width: auto;
}

.mobile-size {
  padding: 5px 20px;
  margin: 0 auto;
  min-width: 360px;
  max-width: 599px;
}

.tablet-size {
  padding: 10px 30px;
  margin: 0 auto;
  min-width: 768px;
  // max-width: var(--brp-tabletMax);
}

.laptop-size {
  padding: 15px 40px;
  margin: 0 auto;
  // min-width: var(--brp-laptopMin);
  max-width: 1240px;
}

.example-container {
  position: relative;
  z-index: 2;
}

.example-drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  padding: 20px;
}

.close-btn__container {
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100vh;
}
