@if (goods) {
<div>
  <p>ID: {{ goods._id }}</p>
  <p>Name: {{ goods.name }}</p>
  <p>Category: {{ goods.category }}</p>
  <p>Quantity: {{ goods.quantity }}</p>
  <p>Description: {{ goods.description }}</p>
  <p>Image: <img [src]="goods.image" alt="Image" /></p>
  <p>Owner: {{ goods.owner }}</p>
  <p>Price: {{ goods.price }}</p>
  <p>Added Date: {{ goods.addedDate }}</p>
  <p>Commission: {{ goods.commission }}</p>
  <p>Return Date: {{ goods.returnDate }}</p>
</div>
} @else {
<p>Sorry, something went wrong ...</p>
}
