.header-clock-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .time {
    font-size: 2em;
    font-weight: bold;
  }

  .date {
    font-size: 1.2em;
  }
}

// .mobile-size {
//   display: none;
// }

// .tablet-size {
//   display: flex;
// }

// .laptop-size {
//   display: flex;
// }

// .mobile-size {
//   display: none;
// }

// .tablet-size {
//   display: block;
// }

// .laptop-size {
//   display: block;
// }
