<nav class="nav-bar">
  <ul class="nav-bar__list">
    <li class="nav-bar__item" routerLinkActive="active-link">
      <a [routerLink]="['/transaction']"> Transactions </a>
    </li>
    <li class="nav-bar__item" routerLinkActive="active-link">
      <a [routerLink]="['/clients']"> Clients </a>
    </li>
    <li class="nav-bar__item" routerLinkActive="active-link">
      <a [routerLink]="['/archives']"> Archives </a>
    </li>
  </ul>
  <a mat-raised-button [routerLink]="['/create-contract']">
    Add new transaction
  </a>
</nav>
