.modal-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 10px;
}

.modal-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
