<div class="signup-page__container">
  <h2 class="title">Welcome aboard</h2>

  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <label class="form__label">
      First Name
      <input
        formControlName="firstName"
        class="form__input"
        type="text"
        name="userFirstName"
        placeholder="Enter your first name"
        minlength="2"
        title="Please enter a valid first name (letters, at least 2 characters)"
        required
      />
      <p class="error-message">Please enter a valid first name</p>
    </label>

    <label class="form__label">
      Last Name
      <input
        formControlName="lastName"
        class="form__input"
        type="text"
        name="userLastName"
        placeholder="Enter your last name"
        minlength="2"
        title="Please enter a valid last name (letters, at least 2 characters)"
        required
      />
      <p class="error-message">Please enter a valid last name</p>
    </label>

    <label class="form__label">
      Phone
      <input
        formControlName="phone"
        class="form__input"
        type="tel"
        name="userPhone"
        placeholder="Enter your phone number"
        pattern="[0-9]{10}"
        title="Please enter a valid phone number (10 digits)"
        required
      />
      <p class="error-message">Please enter a valid phone number</p>
    </label>
    <label class="form__label">
      Email
      <input
        formControlName="email"
        class="form__input"
        type="email"
        name="userEmail"
        placeholder="Enter your email address"
        minlength="3"
        title="Please enter your email address in format default@example.com"
        required
      />
      <p class="error-message">Please enter a valid e-mail address</p>
    </label>

    <label class="form__label">
      Password
      <input
        formControlName="password"
        class="form__input"
        type="password"
        name="userPassword"
        placeholder="Enter your password"
        autocomplete="new-password"
        minlength="8"
        maxlength="16"
        pattern="[A-Za-z0-9]{8,16}"
        title="Enter between 8 to 16 characters"
        required
      />
      <p class="error-message">Please enter a valid password</p>
    </label>

    <p>
      Already have an account?
      <a class="form__link" (click)="goToLogIn()">LOG IN</a>
    </p>

    <button type="submit" class="btn">Enter</button>
  </form>
</div>
