.nav-menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav-menu__item {
  color: var(--blue-text-cl);
  text-decoration: underline;

  cursor: pointer;
}
